:root {
    --primary-color-bg: #ffffff;
    --hero-bg: #2F303A;
    --team-bg: #F5F4FA;
    --footer-bg: #2F303A;

    --primary-color-text: #757575;
    --title-color-text: #212121;
    --active-color: #2196F3;
    --logo-web: #2196F3;
    --logo-footer: #ffffff;
    --hero-color: #ffffff;
    --button-bg: #2196F3;

    --button-bg-pf: #F5F4FA;
    --button-ac: #ffffff;


}

.visually-hidden {
    position: absolute;
    clip: rect(0 0 0 0);
    width: 1px;
    height: 1px;
    margin: -1px;
}

body {
    font-family: 'Roboto', 'Verdana', 'Arial', 'snas-serif';

    color: var(--primary-color-text);
    background-color: var(--primary-color-bg);
    letter-spacing: 0.03em;
}
.list {
    list-style: none;
}
h2,h3 {
    color: var(--title-color-text);
}
/* header */
.logo {
    font-family: 'Raleway', 'snas-serif';
    text-decoration: none;
    font-size: 26px;
    line-height: 1.9;
    color: var(--title-color-text) ;
}
.web-logo {
    color: var(--logo-web);
}

header {
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    
}
.nav-title {
    color: var(--title-color-text)
}
.activ {
    text-decoration: none;
}
.activ:hover,
.activ:focus,
.open {
    color:  var(--active-color)
}

button {
    font: inherit;
    cursor: pointer;
}
.mail {
    color: var(--primary-color-text);
}

/* hero */
.hero {
    background-color: var(--hero-bg);
}
.hero-title {
    font-weight: 900;
    font-size: 44px;
    line-height: 1.36;
    letter-spacing: 0.06em;
    text-transform: uppercase;
    color: var(--hero-color);

}

.hero-button {
    color: var(--hero-color);
    background-color: var(--button-bg);
    font-weight: 700;
    font-size: 16px;
    line-height: 1.88;
    letter-spacing: 0.06em;
    text-transform: uppercase;
    
}
/* особливості */


.feature-title {
    
    font-size: 14px;
    line-height: 1.14;
    
    text-transform: uppercase;
}

.feature-page {
    font-size: 14px;
    line-height: 1.71;
}
/* section */
.section-title {
    
    font-size: 36px;
    line-height: 1.17;
    text-align: center;
    
}

/* team */
.sec-team {
    background-color: var(--team-bg);
}
.team {
    font-size: 16px;
    line-height: 1.19;
    text-align: center;
    
}

.team-title {
    font-weight: 500;
}



/* footer */
footer {
    background-color: var(--footer-bg);
}
address {
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 1.71;
    
}

footer .logo {
    color: var(--logo-footer)
}
.fotter-text {
    text-decoration: none;
    
    color: var(--logo-footer)
}

/* portfolio */
.filters button {
    background-color: var(--button-bg-pf);
    
}
.filters button:hover,
.filters button:focus {
    background-color: var(--active-color);
    color: var(--button-ac);
}

.portfolio-title {
    
    font-size: 18px;
    line-height: 2;
    letter-spacing: 0.06em;
}
.portfolio-page {
    font-size: 16px;
    line-height: 1.88;
    
}